<div class="treatment-records-container">
  <div class="treatment-records-container01">
    <div class="treatment-records-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name7"></top-nav-bar>
    </div>
    <div class="treatment-records-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name7"
      ></side-nav-bar>
      <div class="treatment-records-container04">
        <div class="treatment-records-container05">
          <div class="treatment-records-container06">
            <h1 class="treatment-records-text">Treatment Records</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="treatment-records-container07">
            <div class="treatment-records-container08">
              <span class="treatment-records-text01">
                Patient Registration Number
              </span>
              <text-input
                rootClassName="text-input-root-class-name54"
                textinput_placeholder1="2208946"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name14"
              ></primary-button>
            </div>
            <div class="treatment-records-container09">
              <span class="treatment-records-text02">
                <span>Patient Name: James Andrew Robert</span>
                <br />
                <span>Registration No: 2208946</span>
                <br />
                <span>Team Code : Team A</span>
                <br />
                <span>Team Name : Orthopedics</span>
                <br />
                <span>Consultant : Dr. Annabel Park</span>
              </span>
            </div>
            <div class="treatment-records-container10">
              <div class="treatment-records-container11">
                <div class="treatment-records-code-embed">
                  <dangerous-html
                    html="<div class='hms-table-container'>
  <table>
    <tbody>
      <tr>
        <th>Doctor Name</th>
        <th>Designation</th>
        <th>Treated Date</th>
        <th>Treated Time</th>
      </tr>

      <tr>
        <td>Dr. Robert Pattinson</td>
        <td>Doctor</td>
        <td>2029-07-10</td>
        <td>22:00</td>
      </tr>
      <tr>
        <td>Dr. Tom Holland﻿</td>
        <td>Doctor</td>
        <td>2029-07-11</td>
        <td>08:00</td>
      </tr>
      <tr>
        <td>Dr. Adison Taylor</td>
        <td>Doctor</td>
        <td>2029-07-11</td>
        <td>13:00</td>
      </tr>
      <tr>
        <td>Dr. Laurel Barry</td>
        <td>Doctor</td>
        <td>2029-07-12</td>
        <td>09:00</td>
      </tr>
      <tr>
        <td>Dr. Arianna Hunt	</td>
        <td>Doctor</td>
        <td>2029-07-13</td>
        <td>14:00</td>
      </tr>
      <tr>
        <td>Dr. Josie Wilkins</td>
        <td>Grade 01 Junior Doctor</td>
        <td>2029-07-14</td>
        <td>08:00</td>
      </tr>
      <tr>
        <td>Dr. Dillon Barnes	</td>
        <td>Doctor</td>
        <td>2029-07-15</td>
        <td>16:00</td>
      </tr>
    </tbody>
  </table>
</div>
"
                  ></dangerous-html>
                </div>
              </div>
            </div>
            <primary-button
              rootClassName="primary-button-root-class-name15"
              button="Generate list"
            ></primary-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
