<div class="wards-container">
  <div class="wards-container01">
    <div class="wards-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name3"></top-nav-bar>
    </div>
    <div class="wards-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name3"
      ></side-nav-bar>
      <div class="wards-container04">
        <div class="wards-container05">
          <div class="wards-container06">
            <h1 class="wards-text">Wards</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="wards-container07">
            <div class="wards-container08">
              <span class="wards-text1">Ward Number</span>
              <select>
                <option value="F-01" selected>F-01</option>
                <option value="F-02">F-02</option>
                <option value="F-03">F-03</option>
                <option value="F-04">F-04</option>
                <option value="M-01">M-01</option>
                <option value="M-02">M-02</option>
                <option value="M-03">M-03</option>
              </select>
              <text-input
                rootClassName="text-input-root-class-name3"
                textinput_placeholder1="Enter text"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name6"
              ></primary-button>
            </div>
            <div class="wards-container09">
              <div class="wards-container10">
                <div class="wards-code-embed">
                  <dangerous-html
                    html="
<div class='hms-table-container'>
  <table>
<tbody>
<tr>
  <th>Patient Name</th>
  <th>Registration Number</th>
  <th>Age</th>
</tr>
<tr>
  <td>James Andrew Robert</td>
  <td>798544</td>
  <td>45</td>
</tr>
<tr>
  <td>Ollie Arnold</td>
  <td>967846</td>
  <td>57</td>
</tr>
<tr>
  <td>Jean Franklin</td>
  <td>984968</td>
  <td>25</td>
</tr>
<tr>
  <td>Kyra Leach</td>
  <td>941548</td>
  <td>76</td>
</tr>
<tr>
  <td>Homer Floyd</td>
  <td>352184</td>
  <td>32</td>
</tr>
<tr>
  <td>Josie Wilkins</td>
  <td>220894</td>
  <td>72</td>
</tr>
<tr>
  <td>Sara Ibarra</td>
  <td>656841</td>
  <td>54</td>
</tr>
<tr>
  <td>Rhodri Norman</td>
  <td>956844</td>
  <td>39</td>
</tr>
<tr>
  <td>Alfie Myers</td>
  <td>984554</td>
  <td>28</td>
</tr>
</tbody>
</table>
</div>












"
                  ></dangerous-html>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
