<div class="reset-password-container">
  <div class="reset-password-container1">
    <div class="reset-password-container2">
      <div class="reset-password-container3">
        <img
          alt="image"
          src="/assets/gsdp-g4-hms-logo-200h.png"
          class="reset-password-image"
        />
        <div class="reset-password-container4">
          <h1 class="reset-password-text Heading">GENERAL HOSPITAL</h1>
          <span>Hospital Management System</span>
        </div>
      </div>
      <div class="reset-password-container5">
        <h1 class="reset-password-text2">Reset Password</h1>
        <text-input
          rootClassName="text-input-root-class-name5"
          textinput_placeholder="Username"
          textinput_placeholder1="New password"
        ></text-input>
        <a routerLink="/" class="reset-password-navlink">
          <primary-button
            button="Done"
            rootClassName="primary-button-root-class-name8"
            class="reset-password-component1"
          ></primary-button>
        </a>
      </div>
    </div>
  </div>
</div>
