<div class="settings-container">
  <div class="settings-container01">
    <div class="settings-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name14"></top-nav-bar>
    </div>
    <div class="settings-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name14"
      ></side-nav-bar>
      <div class="settings-container04">
        <div class="settings-container05">
          <div class="settings-container06">
            <div class="settings-container07">
              <h1 class="settings-text">Settings</h1>
              <horizontal-rule></horizontal-rule>
            </div>
          </div>
          <div class="settings-container08">
            <form class="settings-form">
              <div class="settings-container09">
                <div class="settings-container10">
                  <div class="settings-container11">
                    <div class="settings-container12">
                      <span class="settings-text1">Admin name</span>
                      <div class="settings-container13">
                        <input
                          type="text"
                          required
                          placeholder
                          class="settings-textinput input"
                        />
                      </div>
                    </div>
                    <div class="settings-container14">
                      <span class="settings-text2">Gender</span>
                      <select required class="settings-select">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <div class="settings-container15">
                      <span class="settings-text3">DOB</span>
                      <div class="settings-container16">
                        <input
                          type="date"
                          required
                          placeholder="Date of birth"
                          class="settings-textinput1 input"
                        />
                      </div>
                    </div>
                    <div class="settings-container17">
                      <span class="settings-text4">Change password</span>
                      <div class="settings-container18">
                        <input
                          type="password"
                          value="123456"
                          required
                          placeholder
                          class="settings-textinput2 input"
                        />
                      </div>
                    </div>
                    <div class="settings-container19">
                      <span class="settings-text5">Change photo</span>
                      <div class="settings-container20">
                        <input
                          type="file"
                          required
                          placeholder
                          class="settings-textinput3 input"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="settings-container21">
                <primary-button
                  button="Save"
                  rootClassName="primary-button-root-class-name20"
                ></primary-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
