<div class="side-nav-bar-container" [ngClass]="rootClassName">
  <header data-thq="thq-navbar" class="side-nav-bar-navbar-interactive">
    <div data-thq="thq-navbar-nav" class="side-nav-bar-desktop-menu">
      <nav class="side-nav-bar-links">
        <side-nav-bar-links
          rootClassName="side-nav-bar-links-root-class-name2"
        ></side-nav-bar-links>
      </nav>
    </div>
    <div data-thq="thq-burger-menu" class="side-nav-bar-burger-menu">
      <svg viewBox="0 0 1024 1024" class="side-nav-bar-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="side-nav-bar-mobile-menu">
      <div class="side-nav-bar-nav">
        <div class="side-nav-bar-top">
          <div data-thq="thq-close-menu" class="side-nav-bar-close-menu">
            <svg viewBox="0 0 1024 1024" class="side-nav-bar-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="side-nav-bar-links1">
          <side-nav-bar-links
            rootClassName="side-nav-bar-links-root-class-name3"
          ></side-nav-bar-links>
        </nav>
      </div>
    </div>
  </header>
</div>
