<div class="ward-availability-container">
  <div class="ward-availability-container01">
    <div class="ward-availability-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name11"></top-nav-bar>
    </div>
    <div class="ward-availability-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name11"
      ></side-nav-bar>
      <div class="ward-availability-container04">
        <div class="ward-availability-container05">
          <div class="ward-availability-container06">
            <h1 class="ward-availability-text">Ward Availability</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="ward-availability-container07">
            <div class="ward-availability-container08">
              <div class="ward-availability-container09">
                <div class="ward-availability-code-embed">
                  <div class='hms-table-container'>
                    <table>
                      <tbody>
                        <tr>
                          <th>Ward No</th>
                          <th>Ward Type</th>
                          <th>Ward Capacity</th>
                          <th>Ward Availability</th>
                        </tr>
                        <tr>
                          <td>F 01</td>
                          <td>Accident and Emergency Ward</td>
                          <td>50</td>
                          <td>5</td>
                        </tr>

                        <tr>
                          <td>F02</td>
                          <td>Orthopedic Ward</td>
                          <td>50</td>
                          <td>4</td>
                        </tr>

                        <tr>
                          <td>F 03</td>
                          <td>Cardiology Ward</td>
                          <td>50</td>
                          <td>4</td>
                        </tr>

                        <tr>
                          <td>F 04</td>
                          <td>Maternity Ward</td>
                          <td>50</td>
                          <td>4</td>
                        </tr>

                        <tr>
                          <td>F 05</td>
                          <td>Avening Ward</td>
                          <td>50</td>
                          <td>3</td>
                        </tr>

                        <tr>
                          <td>M 01</td>
                          <td>Accident and Emergency Ward</td>
                          <td>50</td>
                          <td>3</td>
                        </tr>

                        <tr>
                          <td>M 02</td>
                          <td>Orthopedic Ward</td>
                          <td>60</td>
                          <td>2</td>
                        </tr>

                        <tr>
                          <td>M 03</td>
                          <td>Cardiology Ward</td>
                          <td>50</td>
                          <td>1</td>
                        </tr>

                        <tr>
                          <td>M 04</td>
                          <td>Avening Ward</td>
                          <td>50</td>
                          <td>0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
