<div class="forgot-password-container">
  <div class="forgot-password-container1">
    <div class="forgot-password-container2">
      <div class="forgot-password-container3">
        <img
          alt="image"
          src="/assets/gsdp-g4-hms-logo-200h.png"
          class="forgot-password-image"
        />
        <div class="forgot-password-container4">
          <h1 class="forgot-password-text Heading">GENERAL HOSPITAL</h1>
          <span>Hospital Management System</span>
        </div>
      </div>
      <div class="forgot-password-container5">
        <h1 class="forgot-password-text2">Forgot password</h1>
        <a
          href="https://google.com"
          link="www.google.com"
          target="_blank"
          rel="noreferrer noopener"
          class="forgot-password-link"
        >
          Please enter the code sent to your email xxxx@xxx.xx.xx
        </a>
        <text-input
          rootClassName="text-input-root-class-name4"
          textinput_placeholder="Username"
        ></text-input>
        <a routerLink="/reset-password" class="forgot-password-navlink">
          <primary-button
            button="Done"
            rootClassName="primary-button-root-class-name7"
            class="forgot-password-component1"
          ></primary-button>
        </a>
      </div>
    </div>
  </div>
</div>
