<div class="doctors-container">
  <div class="doctors-container01">
    <div class="doctors-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name2"></top-nav-bar>
    </div>
    <div class="doctors-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name2"
      ></side-nav-bar>
      <div class="doctors-container04">
        <div class="doctors-container05">
          <div class="doctors-container06">
            <h1 class="doctors-text">Doctors</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="doctors-container07">
            <div class="doctors-container08">
              <span class="doctors-text1">Filter By:</span>
              <select>
                <option value="DOCTOR_ID" selected>Doctor&apos;s ID</option>
                <option value="ASSIGNED_TEAM_ID">Assigned Team</option>
              </select>
              <text-input
                rootClassName="text-input-root-class-name2"
                textinput_placeholder1="Enter text"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name5"
              ></primary-button>
            </div>
            <div class="doctors-container09">
              <div class="doctors-container10">
                <div class="doctors-code-embed">
                  <div class='hms-table-container'>
                    <table>
                  <tbody>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Doctor ID</th>
                    <th>Assigned Team</th>
                    <th>Availability</th>
                  </tr>
                  <tr>
                    <td>Annabel Park</td>
                    <td>639724</td>
                    <td>Team 1</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Amaya Hood</td>
                    <td>833866</td>
                    <td>Team 2</td>
                    <td>On Leave</td>
                  </tr>
                  <tr>
                    <td>Adison Taylor</td>
                    <td>668526</td>
                    <td>Team 2</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Laurel Barry</td>
                    <td>264242</td>
                    <td>Team 4</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Arianna Hunt</td>
                    <td>417734</td>
                    <td>Team 2</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Josie Wilkins</td>
                    <td>2208940</td>
                    <td>Team 1</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Smith Anderson</td>
                    <td>310186</td>
                    <td>Team 4</td>
                    <td>Available</td>
                  </tr>
                  <tr>
                    <td>Dillon Barnes</td>
                    <td>673622</td>
                    <td>Team 3</td>
                    <td>On Leave</td>
                  </tr>
                  <tr>
                    <td>Carsen Brewer</td>
                    <td>580899</td>
                    <td>Team 3</td>
                    <td>Available</td>
                  </tr>
                  </tbody>
                  </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
