:host { 
  display: contents; 
}
.side-nav-bar-links-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.side-nav-bar-links-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side-nav-bar-links-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
}
.side-nav-bar-links-navlink {
  width: 100%;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}
.side-nav-bar-links-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side-nav-bar-links-navlink01 {
  display: contents;
}
.side-nav-bar-links-component01 {
  text-decoration: none;
}
.side-nav-bar-links-navlink02 {
  display: contents;
}
.side-nav-bar-links-component02 {
  text-decoration: none;
}
.side-nav-bar-links-navlink03 {
  display: contents;
}
.side-nav-bar-links-component03 {
  text-decoration: none;
}
.side-nav-bar-links-container4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side-nav-bar-links-navlink04 {
  display: contents;
}
.side-nav-bar-links-component05 {
  text-decoration: none;
}
.side-nav-bar-links-navlink05 {
  display: contents;
}
.side-nav-bar-links-component06 {
  text-decoration: none;
}
.side-nav-bar-links-container5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side-nav-bar-links-navlink06 {
  display: contents;
}
.side-nav-bar-links-component08 {
  text-decoration: none;
}
.side-nav-bar-links-navlink07 {
  display: contents;
}
.side-nav-bar-links-component09 {
  text-decoration: none;
}
.side-nav-bar-links-container6 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side-nav-bar-links-navlink08 {
  display: contents;
}
.side-nav-bar-links-component11 {
  text-decoration: none;
}
.side-nav-bar-links-navlink09 {
  display: contents;
}
.side-nav-bar-links-component12 {
  text-decoration: none;
}




