<div class="side-nav-bar-links-container" [ngClass]="rootClassName">
  <div class="side-nav-bar-links-container1">
    <div class="side-nav-bar-links-container2">
      <a
        routerLink="/dashboard"
        class="side-nav-bar-links-navlink button selected-nav-btn"
      >
        {{ button }}
      </a>
    </div>
    <div class="side-nav-bar-links-container3">
      <side-nav-sub-section-title
        button="Patients"
      ></side-nav-sub-section-title>
      <a routerLink="/admission" class="side-nav-bar-links-navlink01">
        <side-nav-sub-button
          button="Admission/Discharge"
          class="side-nav-bar-links-component01"
        ></side-nav-sub-button>
      </a>
      <a routerLink="/admit-or-transfer" class="side-nav-bar-links-navlink02">
        <side-nav-sub-button
          button="Admit/Transfer"
          class="side-nav-bar-links-component02"
        ></side-nav-sub-button>
      </a>
      <a routerLink="/treatment-records" class="side-nav-bar-links-navlink03">
        <side-nav-sub-button
          button="Treatment Records"
          class="side-nav-bar-links-component03"
        ></side-nav-sub-button>
      </a>
    </div>
    <div class="side-nav-bar-links-container4">
      <side-nav-sub-section-title
        button="Doctors"
        rootClassName="side-nav-sub-section-title-root-class-name1"
      ></side-nav-sub-section-title>
      <a routerLink="/register-doctor" class="side-nav-bar-links-navlink04">
        <side-nav-sub-button
          button="Register"
          class="side-nav-bar-links-component05"
        ></side-nav-sub-button>
      </a>
      <a routerLink="/teams" class="side-nav-bar-links-navlink05">
        <side-nav-sub-button
          button="Teams"
          class="side-nav-bar-links-component06"
        ></side-nav-sub-button>
      </a>
    </div>
    <div class="side-nav-bar-links-container5">
      <side-nav-sub-section-title button="Wards"></side-nav-sub-section-title>
      <a routerLink="/ward-types" class="side-nav-bar-links-navlink06">
        <side-nav-sub-button
          button="Ward Types"
          class="side-nav-bar-links-component08"
        ></side-nav-sub-button>
      </a>
      <a routerLink="/ward-availability" class="side-nav-bar-links-navlink07">
        <side-nav-sub-button
          button="Ward Availability"
          class="side-nav-bar-links-component09"
        ></side-nav-sub-button>
      </a>
    </div>
    <div class="side-nav-bar-links-container6">
      <side-nav-sub-section-title button="Admin"></side-nav-sub-section-title>
      <a routerLink="/activity-log" class="side-nav-bar-links-navlink08">
        <side-nav-sub-button
          button="Activity Log"
          class="side-nav-bar-links-component11"
        ></side-nav-sub-button>
      </a>
      <a routerLink="/settings" class="side-nav-bar-links-navlink09">
        <side-nav-sub-button
          button="Settings"
          class="side-nav-bar-links-component12"
        ></side-nav-sub-button>
      </a>
    </div>
  </div>
</div>
