<div class="patients-container">
  <div class="patients-container01">
    <div class="patients-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name1"></top-nav-bar>
    </div>
    <div class="patients-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name1"
      ></side-nav-bar>
      <div class="patients-container04">
        <div class="patients-container05">
          <div class="patients-container06">
            <h1 class="patients-text">Patients</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="patients-container07">
            <div class="patients-container08">
              <span class="patients-text1">Filter By:</span>
              <select>
                <option value="WARD_NUMBER" selected>Ward Number</option>
                <option value="TEAM_OF_DOCTORS">Team of Doctors</option>
              </select>
              <text-input
                rootClassName="text-input-root-class-name1"
                textinput_placeholder1="Enter Ward Number"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name4"
              ></primary-button>
            </div>
            <div class="patients-container09">
              <div class="patients-container10">
                <div class="patients-code-embed">
                  <app-patients-main-table></app-patients-main-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
