<div class="patients-container">
  <div class="patients-container01">
    <div class="patients-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name1"></top-nav-bar>
    </div>
    <div class="patients-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name1"
      ></side-nav-bar>
      <div class="patients-container04">
        <div class="patients-container05">
          <div class="patients-container06">
            <h1 class="patients-text">Patients</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="patients-container07">
            <div class="patients-container08">
              <span class="patients-text1">Filter By:</span>
              <select>
                <option value="WARD_NUMBER" selected>Ward Number</option>
                <option value="TEAM_OF_DOCTORS">Team of Doctors</option>
              </select>
              <text-input
                rootClassName="text-input-root-class-name1"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name4"
              ></primary-button>
            </div>
            <div class="patients-container09">
              <div class="patients-container10">
                <div class="patients-code-embed">
                  <dangerous-html
                    html="
<div class='hms-table-container'>
  <table>
<tbody>
<tr>
<th>Patient Name</th>
<th>Registration No</th>
<th>Ward No</th>
<th>Admitted Date</th>
<th>Assigned Team</th>
</tr>

<tr>
<td>Smith Anderson</td>
<td>2208940</td>
<td>M - 03</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>James Andrew Robert</td>
<td>2208946</td>
<td>M - 03</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>Michaela Susan Johnson</td>
<td>2208940</td>
<td>F - 04</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>Smith Anderson</td>
<td>2208960</td>
<td>M - 09</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>James Andrew Robert</td>
<td>2208705</td>
<td>M - 05</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>Michaela Susan Johnson</td>
<td>2208940</td>
<td>F - 08</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>Smith Anderson</td>
<td>2208550</td>
<td>M - 04</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>James Andrew Robert</td>
<td>2208923</td>
<td>M - 07</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
<tr>
<td>Michaela Susan Johnson</td>
<td>2208940</td>
<td>F - 02</td>
<td>02.05.2023</td>
<td>Team Code xx</td>
</tr>
</tbody>
</table>
</div>












"
                  ></dangerous-html>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
