<div class='hms-table-container'>
    <table>
        <tbody>
            <tr>
                <th>Ward No</th>
                <th>Ward Capacity</th>
                <th>Available Beds</th>
            </tr>
            <tr>
                <td>F-05</td>
                <td>30</td>
                <td>0</td>
            </tr>
            <tr>
                <td>F-08</td>
                <td>30</td>
                <td>1</td>
            </tr>
            <tr>
                <td>F-12</td>
                <td>30</td>
                <td>3</td>
            </tr>

        </tbody>
    </table>
</div>