<div class="admission-container">
  <div class="admission-container01">
    <div class="admission-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name4"></top-nav-bar>
    </div>
    <div class="admission-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name4"
      ></side-nav-bar>
      <div class="admission-container04">
        <div class="admission-container05">
          <div class="admission-container06">
            <div class="admission-container07">
              <a routerLink="/admission" class="admission-navlink button">
                Admission
              </a>
              <a routerLink="/discharge" class="admission-navlink1 button">
                Discharge
              </a>
            </div>
          </div>
          <form class="admission-form">
            <div class="admission-container08">
              <div class="admission-container09">
                <div class="admission-container10">
                  <span class="admission-text">Title</span>
                  <text-input
                    rootClassName="text-input-root-class-name6"
                    textinput_placeholder1="Mr, Mr, Ms, ..."
                  ></text-input>
                </div>
                <div class="admission-container11">
                  <span class="admission-text01">Full Name</span>
                  <text-input
                    rootClassName="text-input-root-class-name8"
                    textinput_placeholder1="Enter your full name"
                  ></text-input>
                </div>
                <div class="admission-container12">
                  <span class="admission-text02">Gender</span>
                  <select required class="admission-select">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="admission-container13">
                  <span class="admission-text03">DOB</span>
                  <div class="admission-container14">
                    <div class="admission-container15">
                      <input
                        type="date"
                        required
                        class="admission-textinput input"
                        placeholder="E.g: 1990-08-22"
                      />
                    </div>
                  </div>
                </div>
                <div class="admission-container16">
                  <span class="admission-text04">Marital Status</span>
                  <select required class="admission-select1">
                    <option value="MARRIED" selected>Married</option>
                    <option value="NOT_MARRIED">Not married</option>
                    <option value="WIDOWED">Widowed</option>
                    <option value="SEPERATED_OR_DIVORCED">Seperated or Divorced</option>
                  </select>
                </div>
                <div class="admission-container17">
                  <span class="admission-text05">Contact Number</span>
                  <div class="admission-container18">
                    <input
                      type="tel"
                      required
                      maxlength="15"
                      placeholder
                      class="admission-textinput1 input"
                      placeholder="Enter contact number"
                    />
                  </div>
                </div>
                <div class="admission-container19">
                  <span class="admission-text06">Address</span>
                  <text-input
                    rootClassName="text-input-root-class-name14"
                    textinput_placeholder1="Enter address"
                  ></text-input>
                </div>
                <div class="admission-container20">
                  <span class="admission-text07">Identity Number</span>
                  <text-input
                    rootClassName="text-input-root-class-name15"
                    textinput_placeholder1="Enter Identity Number"
                  ></text-input>
                </div>
              </div>
              <div class="admission-container21">
                <div class="admission-container22">
                  <span class="admission-text08">Guardian Name</span>
                  <text-input
                    rootClassName="text-input-root-class-name7"
                    textinput_placeholder1="Enter Guardian's name"
                  ></text-input>
                </div>
                <div class="admission-container23">
                  <span class="admission-text09">Guardian Contact Number</span>
                  <div class="admission-container24">
                    <input
                      type="tel"
                      required
                      placeholder
                      class="admission-textinput2 input"
                      placeholder="Enter Guardian's Contact Number"
                    />
                  </div>
                </div>
                <div class="admission-container25">
                  <span class="admission-text10">Guardian Address</span>
                  <text-input
                    rootClassName="text-input-root-class-name16"
                    textinput_placeholder1="Enter Guardian's Address"
                  ></text-input>
                </div>
                <div class="admission-container26">
                  <span class="admission-text11">
                    Relationship to the patient
                  </span>
                  <text-input
                    rootClassName="text-input-root-class-name17"
                    textinput_placeholder1="E.g: Father, Uncle, Wife, ..."
                  ></text-input>
                </div>
                <div class="admission-container27">
                  <span class="admission-text12">
                    Admission Date &amp; Time
                  </span>
                  <div class="admission-container28">
                    <div class="admission-container29">
                      <input
                        type="datetime-local"
                        required
                        placeholder="E.g: 2023-07-20"
                        class="admission-textinput3 input"
                      />
                    </div>
                  </div>
                </div>
                <div class="admission-container30">
                  <span class="admission-text13">Condition</span>
                  <text-input
                    rootClassName="text-input-root-class-name18"
                    textinput_placeholder1="Enter the patient's condition"
                  ></text-input>
                </div>
                <div class="admission-container31">
                  <span class="admission-text14">Team of Doctors</span>
                  <select required class="admission-select2">
                    <option value="TEAM_1" selected>Team 1</option>
                    <option value="TEAM_2">Team 2</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="admission-container32">
              <abstract-button
                button="Clear Form"
                rootClassName="abstract-button-root-class-name"
              ></abstract-button>
              <app-hms-modal
                dialogTitle="Patient saved successfully"
                openDialogBtnName="Submit"
                closeDialogBtnName="Close"
                >
                Patient's registration number is 464165
                <br/>
                <br/>
              </app-hms-modal>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
