<div class="login-container">
  <div class="login-container1">
    <div class="login-container2">
      <div class="login-container3">
        <img
          alt="image"
          src="/assets/gsdp-g4-hms-logo-200h.png"
          class="login-image"
        />
        <div class="login-container4">
          <h1 class="login-text Heading">GENERAL HOSPITAL</h1>
          <span>Hospital Management System</span>
        </div>
      </div>
      <div class="login-container5">
        <text-input
          rootClassName="text-input-root-class-name"
          textinput_placeholder="Username"
        ></text-input>
        <text-input textinput_placeholder="Password"></text-input>
        <a routerLink="/dashboard" class="login-navlink">
          <primary-button
            button="Log in"
            rootClassName="primary-button-root-class-name1"
            class="login-component2"
          ></primary-button>
        </a>
        <a
          routerLink="/forgot-password"
          link="www.google.com"
          class="login-navlink1 Content"
        >
          Forgot password?
        </a>
      </div>
    </div>
  </div>
</div>
