:host { 
  display: contents; 
}
.side-nav-main-button-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
}
.side-nav-main-button-button {
  width: 100%;
  font-size: 16px;
  text-align: left;
  border-color: var(--dl-color-secondary-2);
  border-width: 0.5px;
  border-radius: 8px;
}
.side-nav-main-button-root-class-name {
  align-self: center;
}
.side-nav-main-button-root-class-name1 {
  align-self: center;
}
