:host { 
  display: contents; 
}
.side-nav-sub-button-container {
  width: 100%;
  display: flex;
  position: relative;
}
.side-nav-sub-button-button {
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.side-nav-sub-button-button.selectedNav {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-secondary-2);
}

