<div class="ward-types-container">
  <div class="ward-types-container01">
    <div class="ward-types-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name10"></top-nav-bar>
    </div>
    <div class="ward-types-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name10"
      ></side-nav-bar>
      <div class="ward-types-container04">
        <div class="ward-types-container05">
          <div class="ward-types-container06">
            <h1 class="ward-types-text">Ward Types</h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="ward-types-container07">
            <div class="ward-types-container08">
              <div class="ward-types-container09">
                <div class="ward-types-code-embed">
                  <div class='hms-table-container'>
                    <table>
                  <tbody>
                  <tr>
                    <th>Ward No</th>
                    <th>Ward Type</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                          <td>F 01</td>
                          <td>Accident and Emergency Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>F02</td>
                          <td>Orthopedic Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>F 03</td>
                          <td>Cardiology Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>F 04</td>
                          <td>Maternity Ward</td>
                          <td>xxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>F 05</td>
                          <td>Avening Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>M 01</td>
                          <td>Accident and Emergency Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>M 02</td>
                          <td>Orthopedic Ward</td>
                          <td>xxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>M 03</td>
                          <td>Cardiology Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>

                        <tr>
                          <td>M 04</td>
                          <td>Avening Ward</td>
                          <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                        </tr>
                  </tbody>
                  </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
