<div class="discharge-container">
  <div class="discharge-container01">
    <div class="discharge-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name5"></top-nav-bar>
    </div>
    <div class="discharge-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name5"
      ></side-nav-bar>
      <div class="discharge-container04">
        <div class="discharge-container05">
          <div class="discharge-container06">
            <div class="discharge-container07">
              <a routerLink="/admission" class="discharge-navlink button">
                Admission
              </a>
              <a routerLink="/discharge" class="discharge-navlink1 button">
                Discharge
              </a>
            </div>
          </div>
          <div class="discharge-container08">
            <div class="discharge-container09">
              <span class="discharge-text">Patient registration number</span>
              <text-input
                rootClassName="text-input-root-class-name37"
                textinput_placeholder1="2208940"
              ></text-input>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name11"
              ></primary-button>
            </div>
            <div class="discharge-container10">
              <div class="discharge-container11">
                <div class="discharge-code-embed">
                  <div class='hms-table-container'>
                    <table>
                      <tbody>
                        <tr>
                          <th>Patient Name</th>
                          <th>Registration No</th>
                          <th>Ward No</th>
                          <th>Admitted Date</th>
                          <th>Assigned Team</th>
                        </tr>
                  
                        <tr>
                          <td>Smith Anderson</td>
                          <td>2208940</td>
                          <td>M - 03</td>
                          <td>02.05.2023</td>
                          <td>Team Code xx</td>
                        </tr>
                  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="discharge-container12">
            <abstract-button
              button="Clear Search"
              rootClassName="abstract-button-root-class-name1"
            ></abstract-button>
            <app-hms-modal 
              id="patient-delete-permission-modal"
              openDialogBtnName="Discharge"
              closeDialogBtnName="Cancel"
              dialogTitle="Authorization required"
            >
                This action will delete all the records of the selected patient from the system.<br/> Enter your password to continue this action.
                <text-input textinput_placeholder1="Password"></text-input>
                <primary-button
                button="Continue"
                rootClassName="primary-button-root-class-name10"
              ></primary-button>
            </app-hms-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
