<div class="patients-cared-by--team-container">
  <div class="patients-cared-by--team-container01">
    <div class="patients-cared-by--team-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name12"></top-nav-bar>
    </div>
    <div class="patients-cared-by--team-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name12"
      ></side-nav-bar>
      <div class="patients-cared-by--team-container04">
        <div class="patients-cared-by--team-container05">
          <div class="patients-cared-by--team-container06">
            <div class="patients-cared-by--team-container07">
              <div class="patients-cared-by--team-container08">
                <a
                  routerLink="/teams"
                  class="patients-cared-by--team-navlink button"
                >
                  Teams
                </a>
                <a
                  routerLink="/patients-cared-by-a-team"
                  class="patients-cared-by--team-navlink1 button"
                >
                  View Patients cared by a team
                </a>
              </div>
            </div>
          </div>
          <div class="patients-cared-by--team-container09">
            <div class="patients-cared-by--team-container10">
              <span class="patients-cared-by--team-text">Select team code</span>
              <select id="team-code">
                <option value="Team A" selected>Team A</option>
                <option value="Team B">Team B</option>
                <option value="Team C">Team C</option>
                <option value="Team D">Team D</option>
              </select>
              <label for="team-code" class="patients-cared-by--team-text1">
                Orthopedics
              </label>
              <div class="patients-cared-by--team-container11">
                <button
                  type="submit"
                  class="patients-cared-by--team-button button"
                >
                  View patients
                </button>
              </div>
            </div>
            <div class="patients-cared-by--team-container12">
              <div class="patients-cared-by--team-container13">
                <div class="patients-cared-by--team-code-embed">
        
                  <div class='hms-table-container'>
                    <table>
                      <tbody>
                        <tr>
                          <th>Patient Name</th>
                          <th>Registration No</th>
                          <th>Ward No</th>

                        </tr>

                        <tr>
                          <td>Smith Anderson</td>
                          <td>2208940</td>
                          <td>M - 03</td>

                        </tr>
                        <tr>
                          <td>James Andrew Robert</td>
                          <td>2208946</td>
                          <td>M - 03</td>

                        </tr>
                        <tr>
                          <td>Michaela Susan Johnson</td>
                          <td>2208940</td>
                          <td>F - 04</td>

                        </tr>
                        <tr>
                          <td>Smith Anderson</td>
                          <td>2208960</td>
                          <td>M - 09</td>

                        </tr>
                        <tr>
                          <td>James Andrew Robert</td>
                          <td>2208705</td>
                          <td>M - 05</td>

                        </tr>
                        <tr>
                          <td>Michaela Susan Johnson</td>
                          <td>2208940</td>
                          <td>F - 08</td>

                        </tr>
                        <tr>
                          <td>Smith Anderson</td>
                          <td>2208550</td>
                          <td>M - 04</td>

                        </tr>
                        <tr>
                          <td>James Andrew Robert</td>
                          <td>2208923</td>
                          <td>M - 07</td>

                        </tr>
                        <tr>
                          <td>Michaela Susan Johnson</td>
                          <td>2208940</td>
                          <td>F - 02</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <primary-button style="display: block;" button="Generate List" ></primary-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
