<div class="activity-log-container">
  <div class="activity-log-container01">
    <div class="activity-log-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name13"></top-nav-bar>
    </div>
    <div class="activity-log-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name13"
      ></side-nav-bar>
      <div class="activity-log-container04">
        <div class="activity-log-container05">
          <div class="activity-log-container06">
            <h1 class="activity-log-text">
              <span>Activity Log</span>
              <br />
            </h1>
            <horizontal-rule></horizontal-rule>
          </div>
          <div class="activity-log-container07">
            <div class="activity-log-container08">
              <img
                alt="image"
                src="/assets/dummy-profile-icon-200h.png"
                class="activity-log-image"
              />
              <span class="activity-log-text3">
                <span>Full Name :Selena Jones</span>
                <br />
                <span>Employee Number : 987463545</span>
                <br />
                <span>Date Joined : 2020-02-02 </span>
              </span>
            </div>
            <div class="activity-log-container09">
              <div class="activity-log-container10">
                <div class="activity-log-code-embed">
                  <dangerous-html
                    html="
<div class='hms-table-container'>
  <table>
<tbody>
<tr>
<th>Date</th>
<th>Time</th>
<th>Activity</th>
<th>Notes</th>
</tr>

<tr>
<td>2023-07-05</td>
<td>09:00</td>
<td>Doctor added</td>
<td></td>
</tr>

<tr>
<td>2023-07-05</td>
<td>10:00</td>
<td>Patient 635498 added</td>
<td></td>
</tr>

<tr>
<td>2023-07-05</td>
<td>11:00</td>
<td>Patient 635498 admitted to M-02</td>
<td></td>
</tr>

<tr>
<td>2023-07-06</td>
<td>13:00</td>
<td>Doctor  648521 admitted to team A</td>
<td></td>
</tr>

<tr>
<td>2023-07-10</td>
<td>15:00</td>
<td>Patient  854218 discharged</td>
<td></td>
</tr>

</tbody>
</table>
</div>












"
                  ></dangerous-html>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
