<div class="admit-or-transfer-container">
  <div class="admit-or-transfer-container01">
    <div class="admit-or-transfer-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name6"></top-nav-bar>
    </div>
    <div class="admit-or-transfer-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name6"
      ></side-nav-bar>
      <div class="admit-or-transfer-container04">
        <div class="admit-or-transfer-container05">
          <div class="admit-or-transfer-container06">
            <div class="admit-or-transfer-container07">
              <h1 class="admit-or-transfer-text">Admit/Transfer</h1>
              <horizontal-rule></horizontal-rule>
            </div>
          </div>
          <div class="admit-or-transfer-container08">
            <div class="admit-or-transfer-container09">
              <div class="admit-or-transfer-container10">
                <span class="admit-or-transfer-text1">Ward Type</span>
                <select class="admit-or-transfer-select">
                  <option value="Accident and Emergency Ward" selected>
                    Accident and Emergency Ward
                  </option>
                  <option value="Orthopedic Ward ">
                    Orthopedic Ward
                    <span [innerHTML]="rawsvc0"></span>
                  </option>
                  <option value="Cardiology Ward">Cardiology Ward</option>
                  <option value="Maternity Ward﻿">Maternity Ward﻿</option>
                  <option value="Avening Ward">Avening Ward</option>
                  <option value="New Option">New Option</option>
                </select>
              </div>
              <div class="admit-or-transfer-container11">
                <span class="admit-or-transfer-text2">Gender</span>
                <select class="admit-or-transfer-select1">
                  <option value="MALE" selected>Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </div>
              <primary-button
                button="Search"
                rootClassName="primary-button-root-class-name13"
              ></primary-button>
            </div>
            <div class="admit-or-transfer-container12">
              <div class="admit-or-transfer-container13">
                <div class="admit-or-transfer-code-embed">
                  <dangerous-html
                    html="
<div class='hms-table-container'>
  <table>
<tbody>
<tr>
  <th>Ward No</th>
  <th>Ward Capacity</th>
  <th>Available Beds</th>
</tr>
<tr>
  <td>F-05</td>
  <td>30</td>
  <td>0</td>
</tr>
<tr>
  <td>F-08</td>
  <td>30</td>
  <td>1</td>
</tr>
<tr>
  <td>F-12</td>
  <td>30</td>
  <td>3</td>
</tr>

</tbody>
</table>
</div>












"
                  ></dangerous-html>
                </div>
              </div>
            </div>
            <form class="admit-or-transfer-form">
              <div class="admit-or-transfer-container14">
                <div class="admit-or-transfer-container15">
                  <div class="admit-or-transfer-container16">
                    <div class="admit-or-transfer-container17">
                      <span class="admit-or-transfer-text3">
                        Patient&apos;s registration Number
                      </span>
                      <text-input
                        rootClassName="text-input-root-class-name39"
                      ></text-input>
                    </div>
                    <div class="admit-or-transfer-container18">
                      <span class="admit-or-transfer-text4">Tranfer to</span>
                      <select required class="admit-or-transfer-select2">
                        <option value="F-08" selected>F-08</option>
                      </select>
                    </div>
                  </div>
                  <div class="admit-or-transfer-container19">
                    <div class="admit-or-transfer-container20">
                      <span class="admit-or-transfer-text5">Current Ward</span>
                      <text-input
                        rootClassName="text-input-root-class-name46"
                      ></text-input>
                    </div>
                    <div class="admit-or-transfer-container21">
                      <span class="admit-or-transfer-text6">Transfer Date</span>
                      <div class="admit-or-transfer-container22">
                        <div class="admit-or-transfer-container23">
                          <input
                            type="date"
                            required
                            placeholder
                            class="admit-or-transfer-textinput input"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="admit-or-transfer-container24">
                <primary-button
                  button="Transfer"
                  rootClassName="primary-button-root-class-name12"
                ></primary-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
