:host { 
  display: contents; 
}
.abstract-button-container {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #D9D9D9;
}
.abstract-button-button {
  width: 100%;
  border-width: 0px;
}



