<div class="teams-container">
  <div class="teams-container01">
    <div class="teams-container02">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name9"></top-nav-bar>
    </div>
    <div class="teams-container03">
      <side-nav-bar
        rootClassName="side-nav-bar-root-class-name9"
      ></side-nav-bar>
      <div class="teams-container04">
        <div class="teams-container05">
          <div class="teams-container06">
            <div class="teams-container07">
              <a routerLink="/teams" class="teams-navlink button">Teams</a>
              <a
                routerLink="/patients-cared-by-a-team"
                class="teams-navlink1 button"
              >
                View Patients cared by a team
              </a>
            </div>
          </div>
          <form class="teams-form">
            <div class="teams-container08">
              <div class="teams-container09">
                <div class="teams-container10">
                  <span class="teams-text">Allocate to</span>
                  <select required class="teams-select">
                    <option value="Orthopedics" selected>Orthopedics</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Maternity">Maternity</option>
                    <option value="Accident &amp; Emergency">
                      Accident &amp; Emergency
                    </option>
                    <option value="Avening">Avening</option>
                  </select>
                </div>
                <div class="teams-container11">
                  <span class="teams-text1">Doctor&apos;s ID</span>
                  <div class="teams-container11">
                    <span class="teams-text1">Doctor&apos;s ID</span>
                    <select required class="register-doctor-select">
                      <option value="639724" selected>639724</option>
                      <option value="833866">833866</option>
                      <option value="668526">668526</option>
                    </select>
                  </div>
                </div>
                <div class="teams-container13">
                  <span class="teams-text2">Doctor&apos;s Name</span>
                  <div class="teams-container14">
                    <input
                      type="text"
                      disabled
                      required
                      value="Annabel Park"
                      class="teams-textinput1 input"
                    />
                  </div>
                </div>
                <div class="teams-container15">
                  <span class="teams-text3">Specialization</span>
                  <select required class="teams-select1">
                    <option value="Orthopedic" selected>Orthopedic</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Maternity">Maternity</option>
                  </select>
                </div>
              </div>
              <div class="teams-container16">
                <div class="teams-container17">
                  <svg viewBox="0 0 804.5714285714286 1024" class="teams-icon">
                    <path
                      d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-237.714v237.714c0 30.286-24.571 54.857-54.857 54.857h-109.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h237.714v-237.714c0-30.286 24.571-54.857 54.857-54.857h109.714c30.286 0 54.857 24.571 54.857 54.857v237.714h237.714c30.286 0 54.857 24.571 54.857 54.857z"
                    ></path>
                  </svg>
                </div>
                <div class="teams-container18">
                  <svg viewBox="0 0 804.5714285714286 1024" class="teams-icon2">
                    <path
                      d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="teams-container19">
                <div class="teams-code-embed">
                  <div class='hms-table-container'>
                    <table>
                  <tbody>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Doctor ID</th>
                    <th>Specialization</th>
                  </tr>
                  <tr>
                    <td>Annabel Park</td>
                    <td>639724</td>
                    <td>Orthpedic</td>
                  </tr>
                  <tr>
                    <td>Amaya Hood</td>
                    <td>833866</td>
                    <td>Orthpedic</td>
                  </tr>
                  <tr>
                    <td>Adison Taylor</td>
                    <td>668526</td>
                    <td>Orthpedic</td>
                  </tr>

                  <tr>
                    <td>Smith Anderson</td>
                    <td>310186</td>
                    <td>Orthpedic</td>
                  </tr>

                  <tr>
                    <td>Carsen Brewer</td>
                    <td>580899</td>
                    <td>Orthpedic</td>
                  </tr>
                  </tbody>
                  </table>
                  </div>

                </div>
              </div>
            </div>
            <div class="teams-container20">
              <primary-button
                button="Create/Update Team"
                rootClassName="primary-button-root-class-name17"
              ></primary-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
