<div class="dashboard-container">
  <div class="dashboard-container1">
    <div class="dashboard-container2">
      <top-nav-bar rootClassName="top-nav-bar-root-class-name"></top-nav-bar>
    </div>
    <div class="dashboard-container3">
      <side-nav-bar rootClassName="side-nav-bar-root-class-name"></side-nav-bar>
      <div class="dashboard-container4">
        <div class="dashboard-container5">
          <a routerLink="/patients" class="dashboard-navlink">
            <dashboard-item
              text="Total Patients"
              heading="1568"
              class="dashboard-component2"
            ></dashboard-item>
          </a>
          <a routerLink="/doctors" class="dashboard-navlink1">
            <dashboard-item
              text="Available Doctors"
              button="Doctors"
              heading="234"
              class="dashboard-component3"
            ></dashboard-item>
          </a>
          <a routerLink="/wards" class="dashboard-navlink2">
            <dashboard-item
              text="Available Beds"
              button="Wards"
              heading="42"
              class="dashboard-component4"
            ></dashboard-item>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
